Repository SahilChaudhari23/meet.me, pull requests merged in 2021-11, with the labels that each got.

#8 Added MessageData and SendFileData classes
  Content/Models/MessageData.cs
  Content/Models/SendFileData.cs
Labels: Content

#9 Merge to update code base for everyone
  Content/Content.csproj
  Content/Models/ReceiveMessageData.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/server/ContentServer.cs
  Content/server/ContentServerFactory.cs
Labels: Content

#10 Added interfaces to ContentDatabase for ChatContexts and SendFileData
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IContentServer.cs
  Content/server/ContentServer.cs
Labels: Content

#11 Make models serializable. Implement File sending on client.
  Content/Client/ContentClient.cs
  Content/Client/FileClient.cs
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/IContentServer.cs
Labels: Content

#12 Content Server is complete in terms of functionality
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
Labels: Content

#14 Resolved errors
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
Labels: Content

#15 Some minor fixes
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/IContentClient.cs
  Content/Models/SendMessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentServer.cs
  Content/Server/FileServer.cs
Labels: Content

#17 Client OnReceive Added
  Content/Client/ContentClient.cs
Labels: Content

#18 Removed MongoDB
  Content/Content.csproj
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Models/SendMessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/FileServer.cs
  Content/Server/IdGenerator.cs
Labels: Content

#19 Changed type of message Id and thread Id to int from ObjectId
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/FileClient.cs
  Content/Client/IContentClient.cs
Labels: Content

#20 Removed MongoDB using directives
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/Client/FileClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Testing

#21 Added logging
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
Labels: Content

#22 Fixed stackoverflow in client due to infinitely recursive initialization
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
Labels: Content

#23 bug Fixes and General improvements
  Content/Models/MessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Networking/SocketManager/RecieveSocketListener.cs
  README.md
  Testing/Networking/QueueManagement.cs
  Testing/Networking/SocketManagement/RecieveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/ServerCommunicatorTesting.cs
  images/packaging/1.png
  images/packaging/10.png
  images/packaging/11.png
  images/packaging/12.png
  images/packaging/13.png
  images/packaging/14.png
  images/packaging/15.png
  images/packaging/16.png
  images/packaging/17.png
  images/packaging/18.png
  images/packaging/19.png
  images/packaging/2.png
  images/packaging/20.png
  images/packaging/21.png
  images/packaging/22.png
  images/packaging/23.png
  images/packaging/24.png
  images/packaging/25.png
  images/packaging/3.png
  images/packaging/4.png
  images/packaging/5.png
  images/packaging/6.png
  images/packaging/7.png
  images/packaging/8.png
  images/packaging/9.png
Labels: Content, Testing, Networking

#24 Revert some changes
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/Queue.cs
  Networking/Serializer/ISerializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/RecieveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  README.md
  Testing/Networking/CommunicationFactoryTesting.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/NetworkingGlobals.cs
  Testing/Networking/QueueManagement/QueueManagement.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
  Testing/Networking/Serialization/Objects.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/RecieveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
  Testing/Networking/SocketManagement/ServerCommunicatorTesting.cs
  Testing/Testing.csproj
  images/packaging/1.png
  images/packaging/10.png
  images/packaging/11.png
  images/packaging/12.png
  images/packaging/13.png
  images/packaging/14.png
  images/packaging/15.png
  images/packaging/16.png
  images/packaging/17.png
  images/packaging/18.png
  images/packaging/19.png
  images/packaging/2.png
  images/packaging/20.png
  images/packaging/21.png
  images/packaging/22.png
  images/packaging/23.png
  images/packaging/24.png
  images/packaging/25.png
  images/packaging/3.png
  images/packaging/4.png
  images/packaging/5.png
  images/packaging/6.png
  images/packaging/7.png
  images/packaging/8.png
  images/packaging/9.png
Labels: Testing, Networking

#26 Trace,Update,TryTest
  Content/Client/ChatClient.cs
  Testing/Content/Client/ChatClientTest.cs
Labels: Content, Testing

#27 Testing related changes to main code and some error fixes
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
Labels: Content

#28 Update, minor fixes
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
Labels: Content

#29 Notification Handler fix and locks
  Content/Models/MessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#30 Some bug fixes, a new interface function, and unit tests
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Client/IContentClient.cs
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
Labels: Content, Testing

#32 Solving code cleanup conflict
  Client/App.xaml
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/Icons/logo.ico
  Client/Icons/meet.me_logo_no_bg.png
  Client/Icons/screenshare.png
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModels/HomePageViewModel.cs
  Server/Program.cs
Labels: Client, Server

#31 Test ChatClient
  Testing/Content/Client/ChatClientTest.cs
Labels: Testing

#33 added getter and setter for communicator
  Content/Server/ContentServer.cs
Labels: Content

#35 Changed default constructors to initialize arrays to null and corresponding fixes in unit tests
  Content/Client/ContentClient.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#34 Added Contructors for MessageData and ReceiveMessageData
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#36 Checks added to ContentClient functions and some refactoring
  Content/Client/ContentClient.cs
Labels: Content

#38 Test Added
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/FileServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#39 Server Side Content Module Test Done
  Content/Server/ContentServer.cs
  Content/Server/FileServer.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#40 Added checks to ContentClient, some fixes in ContentModuleTest
  Content/Client/ContentClient.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#41 Content Server Done
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IContentServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#42 Finalization
  Content/Client/ChatClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientNotificationHandlerTest.cs
  Testing/Content/FakeContentHandler.cs
Labels: Content, Testing

#43 Bug fixes and Unit tests for ContentClient
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Models/ChatContext.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#44 Added some constraints for message replies. Fixed some test issues.
  Content/Client/ContentClient.cs
  Content/Models/ChatContext.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#45 Checks and constraints for received messages that are replies and unit tests for the new reply feature
  Content/Client/ContentClient.cs
  Testing/Content/Client/ContentClientTest.cs
Labels: Content, Testing

#46 Added try catch block while sending message to clients
  Content/Server/ChatContextServer.cs
  Content/Server/ContentServer.cs
Labels: Content

#47 Exception handling
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
Labels: Content

#48 Exception handling in regards to netwrok
  Content/Client/ChatClient.cs
Labels: Content

#49 Fix for new client not being able to download existing files sent in chat
  Content/Models/ChatContext.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Utils.cs
Labels: Content, Testing

#50 SetUserId now automatically fetches message history from the server on being called
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Models/Enums.cs
  Content/Server/ContentServer.cs
Labels: Content

#51 Updated Test for Sending All Messages to client
  Content/Server/ChatContextServer.cs
  Content/Server/ContentServer.cs
  Testing/Content/Server/ContentServerTest.cs
Labels: Content, Testing

#52 Special case fix for case of disjoint Receiver IDs of message and its reply
  Content/Client/ContentClient.cs
Labels: Content

#53 Fixed Receiver IDs intersection function
  Content/Client/ContentClient.cs
Labels: Content

#54 Notifying subscribers by non-blocking calls
  Content/Server/ContentServer.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
Labels: Content, Testing

#55 Disabled unstarring of starred messages
  Content/Models/ChatContext.cs
  Content/Server/ChatContextServer.cs
Labels: Content

#56 Fixed bug showing incorrect timestamps on messages on a newly joined client that were sent before the client's joining
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Server/ContentDatabase.cs
  Testing/Content/Client/ContentClientTest.cs
Labels: Content, Testing
